<ul class="lists">
  <% @lists.each do |list| %>
    <li id="<% dom_id(list) %>" class="lists-item">
      <%= link_to list.title, home_index_path(list_id: list.id), class: "list-button #{list.color}" %>

      <div class="actions">
        <%= link_to edit_list_path(list), class: "actions-btn" do %>
          <%= image_tag("pencil.svg", alt: "Edit list", class: "edit-icon") %>
        <% end %>

        <%= button_to list_path(list), method: :delete, class: "actions-btn", data: { confirm: "Tem certeza de que deseja deletar esta lista?", turbo: false }, remote: true do %>
          <%= image_tag("trash.svg", alt: "Delete list", class: "delete-icon") %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>