<%= form_with(model: [@list, task], class: "form-main") do |form| %>

  <%= render 'shared/input', 
    form: form,
    id: 'title', 
    label: 'Título', 
    value: task.title, 
    error: task.errors[:title].first %>

  <%= render 'shared/input', 
    form: form,
    id: 'description', 
    label: 'Descrição', 
    value: task.description, 
    error: task.errors[:description].first %>

  <%= render 'shared/input', 
    form: form,
    id: 'hour', 
    label: 'Hora', 
    value: task.hour, 
    error: task.errors[:hour].first %>

  <%= render "shared/dropdown", 
    form: form, 
    id: 'category_id', 
    label: 'Categoria', 
    options: @categories.map { |category| { value: category.id, label: category.name } }, 
    value: task.category_id, 
    error: task.errors[:category_id].first %>

  <div class="form-footer">
    <button type="submit" class="button"><%= button_text %></button>
  </div>
<% end %>
