<ul class="tasks-list">
  <% @tasks.each do |task| %>
    <li class="tasks-item">
      <label 
        class="task <%= 'completed' if task.completed %>" 
        data-task-id="<%= task.id %>" 
        data-completed="<%= task.completed ? 'true' : 'false' %>" 
        data-list-id="<%= @selected_list.id %>">

        <input 
          type="checkbox" 
          id="<%= task.id %>" 
          class="checkbox" 
          <%= 'checked' if task.completed %> />

        <div class="checkbox-custom"></div>

        <div class="infos">

          <header class="header">
            <div class="title-container">
              <strong class="title"><%= task.title %></strong> - <%= task.hour %>
            </div>
            <span class="category <%= @selected_list.color %>">
              <%= task.category.name %>
            </span>
          </header>

          <p class="description">
            <% if task.description? %>
              <%= truncate(task.description, length: 40, omission: "...") %>
            <% else %>
              Nenhuma descrição...
            <% end %>
          </p>
        </div>
      </label>
      <div class="actions">
        <%= link_to edit_list_task_path(@selected_list, task), class: "actions-btn" do %>
          <%= image_tag("pencil.svg", alt: "Edit task", class: "edit-icon") %>
        <% end %>

        <%= button_to list_task_path(@selected_list, task), method: :delete, class: "actions-btn", data: { confirm: "Tem certeza de que deseja deletar esta tarefa?" } do %>
          <%= image_tag("trash.svg", alt: "Delete task", class: "delete-icon") %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
