<div class="component input">
  <!-- Campo de input -->
  <input type="text" 
         id="<%= id %>" 
         name="<%= form.object_name %>[<%= id %>]" 
         class="input <%= 'error' if error.present? %>" 
         placeholder=" "
         data-type="hour"
         value="<%= value %>" />

  <!-- Label para o campo -->
  <label for="<%= id %>" class="label"><%= label %></label>

  <!-- Exibição do erro se existir -->
  <% if error.present? %>
    <div class="error-span">
      <%= image_tag("cross-circle.svg", alt: "error circle", class: "circle-icon") %>
      <span><%= error %></span>
    </div>
  <% end %>
</div>
